{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Welcome to MovieFlix!
  </p>
  <br />
  <p>
    The virus is primarily spread between people during close contact, most
    often via small droplets produced by coughing, sneezing, and talking. The
    droplets usually fall to the ground or onto surfaces rather than travelling
    through air over long distances. Transmission may also occur through smaller
    droplets that are able to stay suspended in the air for longer periods of
    time. Less commonly, people may become infected by touching a contaminated
    surface and then touching their face. It is most contagious during the first
    three days after the onset of symptoms, although spread is possible before
    symptoms appear, and from people who do not show symptoms.
  </p>
  <br />

  <p>
    The pandemic has caused global social and economic disruption,including the
    largest global recession since the Great Depression and global famines
    affecting 265 million people. It has led to the postponement or cancellation
    of sporting, religious, political, and cultural events, widespread supply
    shortages exacerbated by panic buying, and decreased emissions of pollutants
    and greenhouse gases. Schools, universities, and colleges have been closed
    either on a nationwide or local basis in 172 countries, affecting
    approximately 98.5 percent of the world's student population. Misinformation
    about the virus has circulated through social media and mass media. There
    have been incidents of xenophobia and discrimination against Chinese people
    and against those perceived as being Chinese or as being from areas with
    high infection rates.
  </p>
  <p style=" text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
